.search-result {
    margin-top: 64px;
    margin-bottom: 178px;
    .result-text {
        font-weight: 400;
        font-size: clamp(0.2rem, 4vw, 24px);
        font-style: italic;
        color: gray;
        margin-bottom: 2rem;
    }
    .results-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 32px;

        .result-card {
            .result-title {
                margin-top: 24px;
                margin-bottom: 12px;
                color: black;
                font-weight: 700;
            }
            .result-desc {
                font-weight: 400;
                font-size: 14px;
                max-width: 222px;
                line-height: 24px;
            }
        }
    }
}
@media screen and (max-width: 1234px) {
    .search-result {
        width: 90%;
        margin: 10% auto;
        .results-container {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}
@media screen and (max-width: 790px) {
    .search-result {
        .results-container {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}
@media screen and (max-width: 700px) {
    .search-result {
        .results-container {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
@media screen and (max-width: 400px) {
    .search-result {
        .result-text{
            text-align: center;
        }
        .results-container {
            grid-template-columns: repeat(1, 1fr);
            .result-card {
                margin: 0 auto;
            }
        }
    }
}
